<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding ion-text-center" mode="ios">
  <ion-list mode="ios">
    <ion-item *ngFor="let item of posts" class="card-center">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title color="primary" class="ion-padding ion-text-center">{{item.title}}</ion-card-title>
          <ion-card-subtitle color="secondary" >
            <ion-grid>
              <ion-row>
                <ion-col>Autor: {{item.profile}} </ion-col>
                <ion-col>Genero: {{item.genre}}</ion-col>
                <ion-col>Fecha {{item.date}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{item.content}}</ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
